/* Create.css */
.create {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .create h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .create form {
    display: flex;
    flex-wrap: wrap;
  /*  flex-direction: column; */
  }
  
  .create label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .create input {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .create button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .create button:hover {
    background-color: #0056b3;
  }
  
  /* Style for error messages (you can add this if needed) */
  .error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }
  